/* Extra small devices (portrait phones, less than 576)*/
@media (max-width: 575.98px){
	/*header start*/
.logo{
	width: 100px;
}
.menu ul li a{
	font-size:16px;
}
	/*header start*/
	/*Start Banner*/
.banner_text p {
    font-size: 9px;
}
.banner_text h1 {
    font-size:27px;
}
.banner_text h2 {
    font-size:15px;
}
.banner_bt{
	 margin-top: 20px;
}
.banner_bt img {
    width: 84px;
    height: 10px;
}
.get_bt {
    height: 29px;
    width: 91px;
    font-size: 10px;
}
.cid li {
	width: 10px;
	height:10px;
}
	/*end Banner*/
	/*your start*/
.your_text {
    margin-left:10px;
    margin-top: -10px;
}
.your_text h3 {
    font-size: 27px;
}
.your_text p {
    font-size: 12px;
}
	/*your end*/
	/*project start*/
.project_text {
    margin-left:42px;
}
.project_text h4 {
    font-size: 16px;
}
.project_text h5 {
    font-size: 24px;
}
.projects_text p {
    font-size: 10px;
}
	/*project end*/
	/*what start*/
.what_text h5 {
    font-size: 30px;
    margin-left: 65px;
    margin-top: -54px;
}
.cardx h4 {
    font-size: 25px;
}
.cardx p {
    font-size: 16px;
}
    /*what end*/
	/*work start*/
.work_text {
    margin-left: 40px;
}
.work_text h2 {
    font-size: 16px;
}
.work_text h3 {
    font-size: 22px;
}
.ports_img img {
    height: 200px;
    width: 272px;
    margin-left: 15px;
}
.ports_icon img {
    height: 70px;
    width: 70px;
}
.ports_img:hover .ports_icon{
	bottom:35%;
}
	/*work end*/
   /*about us start*/
.about_text h6 {
    font-size: 34px;
}
.about_text p {
    font-size: 11px;
}
.lorem p {
    font-size: 11px;
	margin-left:9px;
	margin-right:5px;
}
.about_texts {
    text-align: center;
}
.about_texts h3 {
    font-size: 20px;
    margin-top: 10px;
}
.about_texts p {
    font-size: 13px;
}
.about_icon {
    margin-left: 105px;
}
.about_u_text h3 {
    margin-top: 48px;
    font-size: 18px;
    margin-left: 11px;
}
.about_u_text p {
    margin-top: 23px;
    font-size: 13px;
    margin-left: 8px;
}
.about_img img {
    margin-top: 45px;
}
	/*about us end*/
    /*service start*/
.service_box {
    text-align: center;
	width: 300px;
	margin-left:10px;
}
.service_box_text h5 {
    margin-top:10px;
}
	/*service end*/
	/*choose start*/
.choose_text h6 {
    font-size: 28px;
}
.choose_text p {
    margin-top: 17px;
    font-size: 10px;
}
.choose_icon {
    margin-right: 10px;
}
.card-text {
    color: #fff;
    font-size: 15px;
}
	/*choose end*/
	/*count start*/
.count {
    padding-top: 60px;
}
.code_text {
    font-size: 40px;
}
.p_text {
    font-size: 12px;
}
	/*count end*/
   /*portfolio start*/
.portfolio_text h1 {
    font-size: 35px;
}
.button {
  font-size: 12px;
  margin-top:20px;
  margin-bottom: 10px;
  width:60px;
}
.element-item img {
    margin-bottom: 6px;
    height: 117px;
    width: 199px;
}
.isotope_overlay p {
    font-size: 12px;
    margin-top: 55px;
}
  /*portfolio start*/
  /*team start*/
.team {
    padding-top: 50px;
}
.team_text h6 {
    font-size: 42px;
}
.team_text p {
    font-size: 12px;
    margin-top: 15px;
}
.team_img {
    margin-left:55px;
}
	/*team start*/
	/*our client start*/
.our_client_img {
    margin-left: 33px;
    height: 116px;
    width: 250px;
}
.our_client_img img {
    height: 85px;
    width: 180px;
}
	/*our client end*/
	/*trendy start*/
.trendy_img img {
    margin-left: 10px;
    height: 206px;
    width: 302px;
}
.trendy_box {
    padding: 10px;
    height: 204px;
    width: 302px;
	margin-left: 10px;
}
.trendy_box h3 {
    font-size: 25px;
}
.trendy_box p {
    font-size: 15px;
}
.trendy_overlay {
    
}
.trendy_img_d img {
    width: 302px;
    margin-top: 10px;
    margin-left: 5px;
}
.trendy_box_1 {
    padding: 4px;
    margin-top: 427px;
    height: 97px;
    width: 175px;
}
.trendy_box_1 h3 {
    margin-top: -12px;
    font-size: 12px;
}
.trendy_box_1 p {
    font-size: 9px;
}
.lg_img {
    width: 302px;
    margin-left: 10px;
}
.t_box_1 {
    padding: 18px;
    margin-left: 10px;
    height: 215px;
    width: 302px;
}
.t_box_1 h3 {
    font-size: 25px;
}
.t_box_1 p {
    font-size: 15px;
}
.btn {
    width: 120px;
    height: 32px;
    font-size: 14px;
}
	/*trendy end*/
	/*recent start*/
.recent_text h2 {
    font-size:35px;
}
.recent_hr {
    width:108px;
}
.recent_img {
    margin-left: 14px;
}
	/*recent end*/
	/*contact us start*/
.gets_i {
    width: 292px;
    font-size: 14px;
}
.gets_s {
    width: 292px;
    font-size: 14px;
}
.gets_t {
    width: 292px;
    font-size: 14px;
}
.get_s_s {
    margin-left: 93px;
}
.loc_text {
    font-size: 14px;
}
.gets_inp {
    font-size: 14px;
    width: 125px;
}
.contact_icon {
    margin-top: 30px;
    margin-left: 41px;
}
	/*contact us end*/
	/*footer_bottom start*/
.footer_bottom_text p {
    margin-left:30px;
    font-size: 12px;
	margin-top: -4px;
}
.footer_bottom_icon a i {
    font-size: 18px;
}
.footer_bottom_icon {
    margin-left: 91px;
}
	/*footer_bottom end*/
	
}

/*Small devices (landscape phone, 576px and up)*/
@media (min-width: 576px) and (max-width:767.98px){
	/*header start*/
.logo{
	width: 200px;
}
.menu ul li a{
	font-size:18px;
}
	/*header start*/
	/*Start Banner*/
.banner_text p {
    font-size: 17px;
}
.banner_text h1 {
    font-size:57px;
}
.banner_text h2 {
    font-size:37px;
}
.banner_bt img {
    width: 123px;
}
.get_bt {
    height: 42px;
    width: 134px;
    font-size:15px;
}
.cid li {
	width: 12px;
	height:12px;
}
	/*end Banner*/
	/*project start*/
.project_text {
    margin-left: 60px;
}
.project_text h4 {
    font-size: 26px;
}
.project_text h5{
    font-size: 43px;
}
.projects_text p {
    font-size: 13px;
}
	/*project end*/
	/*what start*/
.what_text h5 {
    margin-left:107px;
}
.cardx h4 {
    font-size: 20px;
}
.cardx p {
    font-size: 14px;
}
    /*what end*/
	/*work start*/
.work_text {
    margin-left: 78px;
}
.work_text h2 {
    font-size: 26px;
}
.work_text h3 {
    font-size: 35px;
}
	/*work end*/
	/*about us start*/
.about_text p {
    font-size: 14px;
}
.lorem p {
    font-size: 14px;
}
	/*about us end*/
	/*service start*/
.service_box {
    text-align: center;
    margin-left: 20px;
}
.service_box_text h5 {
    margin-top:10px;
}
	/*service end*/
	/*count start*/
.count {
    padding-top: 60px;
}
.code_text {
    font-size: 40px;
}
.p_text {
    font-size: 12px;
}
	/*count end*/
	/*portfolio start*/
.isotope_overlay p {
    font-size: 20px;
}
	/*portfolio end*/
	/*team start*/
.team_text p {
    font-size: 16px;
    margin-top: 15px;
}
	/*team start*/
	/*our client start*/
.our_client_img {
    width:253px;
}
	/*our client end*/
	/*trendy start*/
.trendy_img {
    margin-left: 102px;
}
.trendy_box {
    margin-left: 102px;
}
.trendy_img_d {
	margin-top:10px;
    margin-left: 61px;
}
.trendy_img_1 {
    margin-left: 70px;
}
.trendy_box_1 {
    padding: 13px;
    margin-top: 586px;
    height: 188px;
    width: 261px;
}
.trendy_box_1 h3 {
    font-size: 20px;
}
.trendy_box_1 p {
    font-size: 14px;
}
.lg_img {
    margin-left: 40px;
}
.t_box_1 {
    margin-left: 40px;
}
	/*trendy end*/
    /*recent start*/
.recent_text h2 {
    font-size: 42px;
}
.recent_hr {
    width: 142px;
}
.recent_overlay_1 h3 {
  font-size: 16px;
    margin-top: 6px;
}
.recent_overlay_1 h4 {
    font-size: 16px;
}
.recent_overlay_1 p {
    font-size: 10px;
}
.over_1 {
    font-size: 10px;
}
.over_2 {
    font-size: 10px;
}
	/*recent end*/
	/*contact us start*/
.gets_i {
    width: 480px;
    font-size: 14px;
}
.gets_s {
    width: 480px;
    font-size: 14px;
}
.gets_t {
    width: 480px;
    font-size: 14px;
}
.get_s_s {
    margin-left: 179px;
}
.loc_text {
    font-size: 14px;
}
	/*contact us end*/
	/*footer_bottom start*/
.footer_bottom_text p {
    margin-left: -2px;
    font-size: 13px;
}
.footer_bottom_icon a i {
    font-size: 18px;
}
	/*footer_bottom end*/
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width:991.8px){
	/*Start Banner*/
.banner_text p {
    font-size: 22px;
}
.banner_text h1 {
    font-size: 64px;
}
.banner_text h2 {
    font-size: 42px;
}
	/*end Banner*/
	/*your start*/
.your_text {
    margin-top: 29px;
}
.your_text h3 {
    font-size: 34px;
}
.your_text p {
    font-size: 14px;
    margin-top: 10px;
}
.your_img img {
    height: 475px;
}
	/*your end*/
	/*project start*/
.project_text {
    margin-left: 20px;
}
.project_text h4 {
    font-size: 25px;
}
.project_text h5 {
    font-size: 48px;
}
.projects_text p {
    font-size: 14px;
}
	/*project end*/
	/*what start*/
.what_text h5 {
    margin-left:71px;
}
.cardx {
    width: 284px;
}
    /*what end*/
    /*work start*/
.work_text {
    margin-left:50px;
	margin-top:-50px;
}
.ports_icon img {
    height: 70px;
    width: 70px;
}
	/*work start*/
	/*about us start*/
.about_text p {
    font-size: 14px;
}
.lorem p {
    font-size: 14px;
}
.about_texts h3 {
    font-size: 20px;
}
.about_texts p {
    font-size: 12px;
}
.about_icon {
    height: 50px;
    width: 50px;
}
.about_icon i {
    font-size: 24px;
    margin-top: 12px;
}
.about_u_text h3 {
    margin-top: 57px;
    font-size: 20px;
}
.about_u_text p {
    margin-top: 24px;
    font-size: 14px;
}
.about_img img {
    height: 330px;
}
	/*about us end*/
	/*service start*/
.service_box {
    width: 346px;
}
.service_box_text h5 {
    font-size: 18px;
}
.service_box_text p {
    font-size: 11px;
}
.service_box_icon i {
    margin-top: 22px;
    margin-left: -20px;
}
.service_box_icon_d i{
	margin-top: 22px;
    margin-left: -20px;
}
.service_box_icon_s i {
	margin-top: 22px;
    margin-left: -20px;
}
.service_box_icon_m i{
	margin-top: 22px;
    margin-left: -20px;
}
.service_box_icon_n i{
	margin-top: 22px;
    margin-left: -20px;
}
.service_box_icon_e i {
	margin-top: 22px;
    margin-left: -20px;
}
	/*service end*/
	/*choose start*/
.choose_text p {
    margin-top: 10px;
    font-size: 16px;
}
.choose_icon i {
    font-size: 50px;
}
.card-text {
    font-size: 13px;
}
	/*choose end*/
	/*team start*/
.team_text p {
    font-size: 16px;
    margin-top: 15px;
}
.team_img {
    margin-left: 75px;
}
	/*team start*/
	/*our client start*/
.our_client_img {
    height: 110px;
    width: 170px;
}
.our_client_img img {
    height: 80px;
    width: 140px;
}
	/*our client end*/
	/*trendy start*/
.trendy_box {
    padding: 23px;
	height: 300px;
    width: 237px;
}
.trendy_box p {
    font-size: 15px;
    word-spacing: 1px;
}
.trendy_box h3 {
    font-size: 24px;
}
.trendy_box_1 {
    padding: 23px;
    margin-top: 596px;
    height: 205px;
    width: 271px;
}
.trendy_box_1 h3 {
    font-size: 20px;
}
.trendy_box_1 p {
    font-size: 14px;
}
.lg_img {
    height: 156px;
    width: 251px;
}
.t_box_1 {
    padding: 23px;
    height: 240px;
	width: 250px;
}
.t_box_1 h3 {
    font-size: 20px;
}
.t_box_1 p {
    font-size: 15px;
}
.trendy_overlay p {
    font-size: 22px;
}
.trendy_overlay {
    margin-left: 15px;
}
	/*trendy end*/
	/*recent start*/
.recent_overlay_1 h3 {
    font-size: 20px;
    margin-top: 22px;
}
.recent_overlay_1 h4 {
    font-size: 20px;
}
.recent_overlay_1 p {
    font-size: 14px;
}
.over_1 {
    font-size: 14px;
}
.over_2 {
    font-size: 14px;
}
	/*recent end*/
	/*contact us start*/
.gets_i {
    width: 281px;
    font-size: 14px;
}
.gets_s {
    width: 580px;
    font-size: 14px;
}
.gets_t {
    width: 580px;
    font-size: 14px;
}
.get_s_s {
    margin-left: 244px;
    margin-top: 40px;
}
.loc_text {
    font-size: 10px;
}
.contact_icon i {
    font-size: 24px;
}
	/*contact us end*/
	/*footer_bottom start*/
.footer_bottom_text p {
    margin-left: 22px;
    font-size: 15px;
}
	/*footer_bottom end*/

}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width:1199.98px){
	/*project start*/
.project_text {
    margin-left:69px;
}
	/*project end*/
	/*what start*/
.what_text h5 {
    margin-left: 177px;
}
.cardx h4 {
    font-size: 23px;
}
.cardx p {
    font-size: 14px;
}
	/*what end*/
    /*work start*/
.work_text {
    margin-left:98px;
}
	/*work start*/
	/*service start*/
.service_box {
    width: 465px;
}
	/*service end*/
	/*our client start*/
.our_client_img {
    height: 130px;
    width: 226px;
}
.our_client_img img {
    height: 95px;
    width: 186px;
}
	/*our client end*/
    /*trendy start*/
.trendy_box {
    padding: 28px;
    height: 300px;
    width: 312px;
}
.trendy_box_1 {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 35px;
    margin-left: -70px;
    height: 300px;
    margin-top: 812px;
    height: 237px;
    width: 365px;
}
.lg_img {
    height: 243px;
    width: 315px;
}
.t_box_1 {
    height: 283px;
    width: 314px;
}
.trendy_overlay {
    margin-left: 51px;
}
	/*trendy end*/
	/*contact us start*/
.gets_i {
    width: 377px;
}
.gets_s {
    width: 781px;
}
.gets_t {
    width: 781px;
}
.get_s_s {
    margin-left: 317px;
}
.loc_text {
    font-size: 15px;
}
	/*contact us end*/

}
/*Extra large devices (large desktops, 576px and up)*/
@media (min-width: 1200px) and (max-width:1299.98px){}
/*Extra large devices (large desktops, 576px and up)*/
@media (min-width: 1300px) and (max-width:1499.98px){
	/*project start*/
.project_text {
       margin-left:150px;
}
	/*project end*/
	/*work start*/
.work_text {
    margin-left: 150px;
}
	/*work start*/
	/*portfolio start*/
.element-item img {
    width: 330px;
}
	/*portfolio end*/
}
/*Extra large devices (large desktops, 576px and up)*/
@media (min-width: 1500px) and (max-width:1599.98px){
	/*project start*/
.project_text {
        margin-left:150px;
}
	/*project end*/
	/*work start*/
.work_text {
    margin-left: 150px;
}
	/*work start*/
	/*portfolio start*/
.element-item img {
    width: 330px;
}
	/*portfolio end*/
}